

.search_icon {
	display: flex;
	align-items: center;
	background-color: #f0f2f5;
	border-radius: 20px;
	padding: 5px 10px;
	width: 160px; /* Adjust width as needed */
	cursor: text; /* Cursor on hover */

  }
  
  .search_icon input[type="text"] {
	border: none;
	outline: none;
	background-color: transparent;
	flex: 1;
	margin-right: 10px;
	font-size: 16px;
  }
  
  .search_icon button {
	background-color: #1877f2;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 8px 15px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
  }
  
  .search_icon button:hover {
	background-color: #1464d2;
  }
  