
.logo {
	width: 40px;
    height: 40px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #e4e4e4;
	padding: 8px 16px; /* Padding around the button text */
	cursor: pointer; /* Cursor on hover */
	display: flex; /* Flexbox layout */
	align-items: center; /* Center items vertically */
  }
  
  .logo img {
	width: 20px; /* Adjust the width of the image */
	margin-right: 8px; /* Add space between the image and the text */
 
}
  
  .logo:hover {
	background-color: #d90b0b;
  }

  button {
	border: none; /* No border */
  }